{% extends "layout.html" %}

{% block content %}
<html>
    <div class="form-group">
        El Fabuloso grupo 6 <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat quasi, accusantium explicabo natus provident eaque. Dolores dicta animi illum illo nisi distinctio, in doloribus corporis reiciendis. Non natus ut voluptate.
    </div>
    
</html>
<div class="form-group">
    <form>
        <label for="exampleFormControlInput1">Contactanos</label><br>
        <div class="form-group">
            <label for="exampleFormControlInput1">Correo electrónico</label><br>
            <input type="email" id="exampleFormControlInput1" placeholder="nombre@mail.com">
        </div>
        <div class="form-group">
            <input type="txt" id="exampleFormControlInput1" placeholder="Escriba aquí su comentario."><br>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </div>
        
    </form> 
</div>
{% endblock %}